body {
    background: url('https://raw.githubusercontent.com/unknownMarko/Movie_Promotion_Website/refs/heads/main/images/pulp-fiction-bg.webp') center/cover no-repeat fixed;
    position: relative;
    min-height: 100vh;
}

body::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    position: relative;
    z-index: 1;
}

.hero-title {
    font-family: 'AachenBold', Arial, sans-serif;
    color: #faaa00;
    text-shadow: 0 6px 0 #bf0101;
}

.hero-subtitle {
    font-family: 'Busorama', Arial, sans-serif;
    color: #fbba01;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}